.FormCreateExam {
    width: 700px;
    margin:20px 0 0 80px;
    padding: 20px;
    background-color: #bdc0bf;
    border: 1px solid #030303;
    border-radius: 9px;
    box-shadow: -10px 10px 1px rgba(0, 0, 0, 0.1);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .FormCreateExam label {
    display: block;
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 19px;
  }
  
   .FormCreateExam input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 10px;
  }

  .FormCreateExam .btn2 {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 140px;
    height: 40px;
  }
  
  .FormCreateExam .btn2:hover {
    background-color: #0056b3;
  }

  .buttonForPaper{
    width: 120px;
    height: 35px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
  }
  .buttonForPaper:hover{
    width: 130px;
    height: 35px;
    margin-bottom: 10px;
    background-color: white;
    color: black; 
  }
  
  p {
    margin-top: 5px;
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
  }
  .AddStuTitle{
    font-size: 50px;
    font-weight: bold;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.file{
  cursor: pointer;
  background-color: rgb(189, 179, 179);
}

.create-exam-container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping to the next line if needed */
}


.image-container {
  flex: 1; /* Allow the image container to grow and take available space */
  height: 50%;
  width: 50%;
}