.table-viewQuestion{
    width: 80%;
    margin: 10px;
}
.table-viewQuestion1{
    width: 80%; 
    margin: 10px;
    
}
.view-question{
    width: 100%;
    height: 100vh;
    background-color: rgb(164, 250, 250);
}