body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

.exam-panel {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  background-color: #fff;
}

.header {
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid #0056b3;
}

.timer {
  font-weight: bold;
}

.question-list {
  width: 100%; 
  background-color: #0085fa;
  border-right: 2px solid #ddd;
  display: flex;
  flex-direction: row;
}
.question-list ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: flex;

}
.question-list li {
  box-sizing: border-box; 
  width: 30px;
  height: 30px;
  background-color: #e60000;
  color: #fff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  /* flex-shrink: 0; */
}

.question-list li.active {
  background-color: #0056b3;
}


.question-list li.active {
  background-color: #0056b3;
}

.question-container {
  flex-grow: 1;
  background-color: #87ceeb;
  padding: 20px;
}

.answer-options {
  margin-top: 20px;
}

.option {
  margin-bottom: 10px;
}

.option input {
  margin-right: 10px;
}

.submit-button {
  margin-top: 20px;
}

.submit-button button {
  width: 150px;
  height: 40px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.submit-button button :hover {
  width: 150px;
  height: 40px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-warning {
  margin-top: 20px;
  color: red;
}

.button-save-next {
padding: 10px;
}

.button-save-next button {
  width: 80px;
  height: 30px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  margin-right: 20px;
  transition: transform 0.3s ease;
}
.button-save-next button:hover {
  transform: scale(1.1);
  width: 90px;
  height: 30px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  margin-right: 20px;
}
.warningCount{
  color: rgb(245, 3, 3);
  font-size:17px;
  font-weight: bold;
}
.camera-container {
  width: 650px;
  height: 900px;
}
.before-screen{
  background-color: rgb(214, 214, 214);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullscreen-button{
  width: 300px;
  height: 300px;
background-color: rgb(255, 255, 255);
display: flex;
justify-content: center;
flex-direction: column;
padding: 10px;
border-radius: 30px;
box-shadow: 2px -2px  6px black;
}
.fullscreen-button button{
  width: 140px;
  height: 30px;
  border-radius: 30px;
  background-color:  rgb(180, 223, 240);
  font-weight: 700;
  cursor: pointer;
  border: 1px solid blue;
  transition: all 0.3s ease-out; 
}
.fullscreen-button button:hover{
  width: 150px;
  height: 30px;
  border-radius: 30px;
  background-color:lightgreen;
  font-weight: 700;
  cursor: pointer;
} 
.fullscreen-button p{
  font-weight: 700;
  color: black;
  font-family: 'Times New Roman', Times, serif;

}

.small-screen {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 190px;
  height: 190px;
  border: 2px solid #000;
  border-radius: 5px;
  overflow: hidden;
}
.small-screen video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.refCambutton{
  width: 100%;
  
}
.noFace{
  position: fixed;
  z-index: 1; 
  width: 100%;
  height: 100vh;
  color: #e60000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 30px;
  animation: blink 1.5s infinite; 
}
@keyframes blink {
  0%, 50%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}