.StudentDashboard {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: -10px 10px 1px rgba(0, 0, 0, 0.1);
  font-family:Georgia, 'Times New Roman', Times, serif;
  position: relative; /* Added for absolute positioning of the logo */
}

.StudentDashboard img.logoHeader {
  animation: rotateY 10s linear infinite, pulse 1s infinite alternate;
  transform-origin: center center; /* Set the rotation origin to the center of the element */
}

.StudentDashboard h2 {
  text-align: center;
}

.StudentDashboard form {
  display: flex;
  flex-direction: column;
}

.StudentDashboard label {
  font-size: 15px;
  margin-bottom: 5px;
}

.StudentDashboard input {
  padding: 8px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

.StudentDashboard button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.StudentDashboard button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.header-stdn-login {
  display: flex;
  column-gap: 60px;
  align-items: center;
  width: 100%;
}

/* Animation for rotating logo */
@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* Animation for pulsating effect */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.BrandName{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(17, 16, 3);
    font-size: larger;
    font-size: 55px;
    font-weight: bold;
    text-shadow: -4px 2px 0.2px rgba(110, 96, 96, 0.39);
}


.BodybackgroudImage{
  background-image: url('../../ImagesAndLogo/9760493.jpg'); /* Replace 'your-background-image.jpg' with your actual image file */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}