.body{
    font-family:Georgia, 'Times New Roman', Times, serif;
   display: flex;
   flex-direction: column;
align-items: center;
background-image:url('../../ImagesAndLogo/pp.avif');
background-size:cover;
background-repeat: no-repeat;
height: 710px;
}
.adminheader{
    display: flex;
    column-gap: 60px;
  align-items: center;
  width: 100%;
}
.BrandName{
  color: rgb(17, 16, 3);
    font-size: larger;
    font-size: 55px;
    font-weight: bold;
    text-shadow: -4px 2px 0.2px rgba(110, 96, 96, 0.39);
}
.logoHeader{
    width: 90px;
    height: 90px;
    border-radius: 50%;  
}

.navbar-websiteHome{
  margin-top: 37px;
  width: 100%;
  padding-left: 5%;
  display: flex;
  flex-direction: row;
}

.btn-websitehome {
  display: inline-block;
  border-radius: 8px;
  background-color: #5a5a5a;
  color: #bfbfbf;
  text-decoration: none;
  transition: color 0.3s, border 0.3s, transform 0.3s;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  width: 175px;
  height: 53px;
  margin-right: 10px;
  
}

.btn-websitehome:hover {
  color: #ffffff;
  border: 2px solid #000;
  background-color: #000; 
  transform: scale(1.1);
}



.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(251, 246, 246);
  height: 40px;
}

.footerFont{
    color: rgb(9, 9, 9);
    position: relative;
    font-weight: bold;
    padding-top: 10px;
}



.rotating-logo {
  animation: rotate 10s linear infinite;
  transform-origin: center center; /* Set the rotation origin to the center of the element */
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}


.Header {
  overflow: hidden;
  white-space: nowrap;
}

.marquee {
  display: block;
  animation: marqueeAnimation 15s linear infinite; /* Adjust the duration as needed */
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.own{
  float: right;
  margin-right: 20px;
}


